*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box
    user-select: none

html
    font-size: 62.5%


body
    padding: 5rem
    background: $color-white

.container
    background-color:#f7f7f7 
    position: relative
    z-index: 1